@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 80px; 
}

nav {
  background-color: #000000;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.logo img {
  height: 60px;
  width: auto;
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

nav ul li {
  line-height: 80px;
  margin: 0 10px;
}

nav ul li a {
  color: #ffffff;
  font-size: 17px;
  padding: 7px 13px;
  text-transform: uppercase;
  border-radius: 3px;
}

a.active,
a:hover {
  background-color: #e74c3c;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  display: none;
  cursor: pointer;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .logo img {
    height: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c2d2e;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    flex-direction: column;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #e74c3c;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
